<div id  =wrapper>
  
    <h1>Eat-Da-Burger!</h1>
    <img scr="./public/assets/img/burger.jpg" alt="image of a burger" class=image>

  <div class="eat">
    <h2>Add a Burger</h2>
    <form class="create-form">

    <label for="ca">Add your Favorite Burger</label><br>
    <input type="text" id="burgerTxt" name="name">
  
  <button type="submit" class="submit-btn">Add Burger to be Eaten!</button>
</form>
</div>

<div class="toEat">
<h2>Burgers to eat</h2>
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
      <span class="li">{{this.burger_name}}
        <button type="button" class="change-devoured" data-id="{{this.id}}" data-newDevoured="{{devour}}">Eat up!</button>
        </span>
        <br>
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="devoured">
  <h2>Burgers Devoured!</h2>
		<ul>
  {{#each burgers}}
    {{#if devoured}}
      <span class="li">{{this.burger_name}}</span>
      <br>
    {{/if}}
  {{/each}}
</ul>
</div>

</div>

